@font-face {
  font-family: "Poppins";   /*Can be any text*/
  src: local("Poppins"),
    url("./fonts/Poppins-Black.ttf") format("ttf");
}
body{
  font-family: "Poppins",Verdana;
  background-color: rgb(244, 244, 244);
  background-image: url("./Images/Home.png");
  background-size: cover;
}
.outletBox{
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  padding-bottom: 100px;
 background: none;
}
.image{
  width:100%;
}


.LPimg{
  width: 30%;
}
.seeMore{
   border-radius: 30px;
}
.seeMore:hover{
  box-shadow: 0px 0px 10px rgb(2, 65, 8);
}
.display{
  display: none;
}
